<div class="tourCarousel">
            <div class="carouselDiv">
                <div id="owlTour" class="owl-carousel">
                    <div class="itemHolder">
                        <div class="imageHolder">
                            <a class="imageLink" ng-href="{{urlBegin()}}/">
                                <img class="img-responsive center-block" ng-src="logos/tours/home.jpg" alt="claudian">
                            </a>
                        </div>
                        <div class="textHolder">
                            <div class="text">{{'TOURS.HOME' | translate}}</div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="itemHolder">
                        <div class="imageHolder">
                            <a class="imageLink" ng-href="{{urlBegin()}}/{{localizedPage(0)}}">
                                <img class="img-responsive center-block" ng-src="logos/tours/period_1.jpg" alt="claudian">
                            </a>
                        </div>
                        <div class="textHolder">
                            <div class="text">{{'TOURS.CLAUDIAN' | translate}}</div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="itemHolder">
                        <div class="imageHolder">
                            <a class="imageLink" ng-href="{{urlBegin()}}/{{localizedPage(1)}}">
                                <img class="img-responsive center-block" ng-src="logos/tours/period_2.jpg" alt="claudian">
                            </a>
                        </div>
                        <div class="textHolder">
                            <div class="text">{{'TOURS.TRAJANIC' | translate}}</div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="itemHolder">
                        <div class="imageHolder">
                            <a class="imageLink" ng-href="{{urlBegin()}}/{{localizedPage(2)}}">
                                <img class="img-responsive center-block" ng-src="logos/tours/period_3.jpg" alt="claudian">
                            </a>
                        </div>
                        <div class="textHolder">
                            <div class="text">{{'TOURS.SEVERAN' | translate}}</div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="itemHolder">
                        <div class="imageHolder">
                            <a class="imageLink" ng-href="{{urlBegin()}}/{{localizedPage(3)}}">
                                <img class="img-responsive center-block" ng-src="logos/tours/period_4.jpg" alt="claudian">
                            </a>
                        </div>
                        <div class="textHolder">
                            <div class="text">{{'TOURS.FIFTHSEVENTH' | translate}}</div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="itemHolder">
                        <div class="imageHolder">
                            <a class="imageLink" ng-href="{{urlBegin()}}/{{localizedPage(4)}}">
                                <img class="img-responsive center-block" ng-src="logos/tours/period_5.jpg" alt="claudian">
                            </a>
                        </div>
                        <div class="textHolder">
                            <div class="text">{{'TOURS.MODERN' | translate}}</div>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="itemHolder">
                        <div class="imageHolder">
                            <a class="imageLink" ng-href="{{urlBegin()}}/{{localizedPage(5)}}">
                                <img class="img-responsive center-block" ng-src="logos/tours/period_6.jpg" alt="claudian">
                            </a>
                        </div>
                        <div class="textHolder">
                            <div class="text">{{'TOURS.TIMELINE' | translate}}</div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>