<head>
   <title>Portus Tour - Explore the history of Portus</title>
</head>

<div class="thebody">
	<div class="desktop-display hidden-xs visible-md visible-lg">
		<div class="container">
			<div class="logoDivstartDiv col-xs-2 col-xs-push-9 col-sm-2 col-sm-push-9 col-md-3 col-md-push-9 col-lg-2 col-lg-push-9 text-center">
		    	<div class="logoDiv">
		      		<a ng-href="{{urlBegin()}}/"><img class="beginLogo" src="images/Logo.png"></img></a>
		    	</div> 
		    	<div class="startDiv">
		    		<a ng-href="{{urlBegin()}}/about" class="beginText">START</a>
		    	</div>      
			</div>
		</div>
	</div>

	<div class="desktop-mobile hidden-md visible-xs">
    	<div class="titleBox">
			<a ng-href="{{urlBegin()}}/">
    			<div class="logoBox"></div>
			</a>
		</div>
		<footer class="footer">
			<div class="container-fluid">
	    		<div class="startDiv-mobile col-xs-12 col-sm-10 col-sm-push-1 col-md-6 col-md-push-3 col-lg-6 col-lg-push-3 text-right">
	    			<a ng-href="{{urlBegin()}}/about" class="beginText">START</a>
	    		</div>
	   		</div>
    	</footer>      
	</div>

</div>





    




