<section class="gallery">
<button ng-click="menuOn = false">Select Tour</button>    <ul class="floats">
        <li>
            <a href="#!/en/claudian">
                <img class="img-responsive center-block" src="images/period_1.jpg">
            </a>
        </li>
        <li>
            <a href="#!/en/trajanic">
                <img class="img-responsive center-block" src="images/period_1.jpg">
            </a>
        </li>
        <li>
            <a href="#!/en/severan">
                <img class="img-responsive center-block" src="images/period_1.jpg">
            </a>
        </li>
        <li>
            <a href="#!/en/fifth-seventh">
                <img class="img-responsive center-block" src="images/period_1.jpg">
            </a>
        </li>
                <li>
            <a href="#!/en/modern-tour">
                <img class="img-responsive center-block" src="images/period_1.jpg">
            </a>
        </li>
        <li>
            <a href="#!/en/timeline">
                <img class="img-responsive center-block" src="images/period_1.jpg">
            </a>
        </li>
    </ul>
</section>  

<!-- Footer -->
<!-- <footer class="footer">
  <div class="container-fluid">
    <div class="row">

    <div class="aboutButton col-xs-3 col-sm-4 col-sm-push-4 col-md-4 col-lg-4 text-center text-right-xs" ng-controller="RegionCtrl">
            <a ng-href="#!/{{country.language}}/about">{{'HOMEPAGE.ABOUT' | translate}}<span class="caret caret-reversed" tooltip="{{'HOMEPAGE.ABOUT' | translate}}"></span></a> 
    </div>

    <div class="aboutButton col-xs-9 col-sm-4 hidden-md hidden-lg text-right" ng-controller="RegionCtrl">
            <a ng-href="#!/{{country.language}}/menu">{{'HOMEPAGE.SELECTTOUR' | translate}}<span class="caret caret-reversed" tooltip="{{'HOMEPAGE.SELECTTOUR' | translate}}"></span></a> 
    </div>

      <div class="logoHolder col-xs-12 col-sm-4 col-sm-pull-4 col-md-4 col-lg-4 text-center-xs text-right-sm">
          <ol class="list-unstyled list-inline text-center">
            <li><a href="http://www.southampton.ac.uk" target="_blank"><img src="../tour/logos/soton.png" width="100%" alt="University of Southampton"></a></li>
            <li><a href="http://www.beniculturali.it/" target="_blank"><img src="../tour/logos/ministero1.png" width="100%" alt="ministero dei beni e delle attivita culturali e del turismo"></a></li>
            <li><a href="http://archeoroma.beniculturali.it/" target="_blank"><img src="../tour/logos/SOP1.png" width="100%" alt="Soprintendenza Speciale per i Beni Archeologici di Roma"></a></li>
          </ol>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4 text-right hidden-xs">
        <p>{{'FOOTER.CREATEDBY' | translate}} <a href="http://www.portusproject.org" target="_blank">Portus Project</a> | {{'FOOTER.USING' | translate}} <a href="http://storymap.knightlab.com/" target="_blank">Knightlabs</a></p>
      </div>

    </div>
  </div>
</footer> -->