<!DOCTYPE html>
<html lang="en" ng-app="Map_View">


<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="description" content="TimelineJS Embed">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />

    <!-- CSS-->
    <link rel="stylesheet" href="css/fonts/font.opensans-gentiumbook.css?v1">
    <!-- <link rel="stylesheet" href="css/site.css"> -->

    <!-- Latest compiled and minified version of jquery -->
    <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
    <!-- Latest compiled and minified version of jqueryui -->
    <script type="text/javascript" src="js/jquery/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="css/jquery/jquery-ui.css">

    <!-- Minified bootstrapJS -->
    <script src="js/modernizr/modernizr-latest.js"></script>

    <!-- Minified bootstrapCSS -->
    <link rel="stylesheet" href="css/bootstrap-3.1.1/bootstrap.min.css">
    <!-- Optional bootstrapCSS theme -->
    <link rel="stylesheet" href="css/bootstrap-3.1.1/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/ghinda-toggle-switch/toggle-switch.css" />

    <!-- Minified bootstrapJS -->
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Latest compiled and minified Bootstrap Push Menu -->
    <link rel="stylesheet" href="css/bootstrap.push.menu/push-menu.css">
    <script type="text/javascript" src="js/bootstrap.push.menu/push-menu.js"></script>

    <link rel="stylesheet" type="text/css" href="css/ghinda-toggle-switch/toggle-switch.css" />

    <!--font-awesome-->
    <link rel="stylesheet" href="css/font-awesome-4.4.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified Owl Carousel -->
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="css/owl-carousel/owl.theme.css">
    <script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>

    <!-- Latest compiled and minified angularJS -->
    <script type="text/javascript" src="js/angular/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/1.3.15/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angular/1.3.15/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/angular/1.3.15/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-local-storage.js"></script>
    <script type="text/javascript" src="js/angular/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="js/angular/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-translate.js"></script>
    <script type="text/javascript" src="js/angular/angular-translate-loader-partial.js"></script>
    <script type="text/javascript" src="js/angular/ngGeolocation.js"></script>
    <script type="text/javascript" src="js/angular/ngRepeatOwlCarousel.min.js"></script>

    <!-- <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script> -->

    <!-- Latest angularJS application -->
    <script type="text/javascript" src="js/application/app.js"></script>

    <!-- Storymap & TimelineJS -->

    <!-- <script src="//cdn.knightlab.com/libs/storymapjs/latest/js/storymap-min.js"></script> -->
    <!-- <link rel="stylesheet" href="//cdn.knightlab.com/libs/storymapjs/latest/css/storymap.css"> -->
    <!-- <script src="//cdn.knightlab.com/libs/storymapjs/latest/js/storymap.js"></script> -->

    <link rel="stylesheet" href="js/timelineJS/css/timeline.css">
    <script type="text/javascript" src="js/timelineJS/js/storyjs-embed.js"></script>

    <link rel="stylesheet" href="css/storymap.css?v1">
    <script type="text/javascript" src="js/storymapJS/storymap.js"></script>

    <!-- Custom Theme files -->
    <link href="css/site.css" rel='stylesheet' type='text/css' />
    <!--Custom Theme files-->

    <!--webfonts-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Forum' rel='stylesheet' type='text/css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'> -->
    <!--webfonts-->

    <!-- HTML5 shim, for IE6-8 support of HTML elements-->
    <!--[if lt IE 9]>
   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <!-- <script type="text/javascript">
    angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
   </script> -->

</head>

<body>
 <!-- ng-controller="mainCtrl"> -->

    <div class="menuOpener">
        <i class="fa fa-bars overlay-toggle btn-open"></i>
    </div>

    <div class="overlay" id="overlay">

        <div class="titleBox">
            <a ng-href="{{urlBegin()}}/">
                <div class="logoBox"></div>
            </a>
        </div>

        <div carousel-directive></div>

        <!-- Navigation Bar -->
        <nav class="navbar">
            <div class="container-fluid">
                <div id="navbar">
                    <div class="scrollable-nav">
                        <ul class="nav navbar-nav text-center" role="menu" ng-controller="regionCtrl">
                            <li class="mobile text-center" role="presentation">
                                <a ng-href="{{urlBegin()}}/about">{{'MENU.ABOUT' | translate | uppercase}}</a>
                            </li>
                            <li class="dropdown open">
                                <a ng-href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{'MENU.SELECTALANG' | translate}}<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="mobile text-center" ng-repeat="country in region.countries()">
                                      <a ng-href="#!/{{country.language}}/{{remainingUrl(country.language)}}" tooltip="{{country.languageLabel() | translate}}">{{country.languageLabel() | uppercase}}
                                      </a>
                                      <hr>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown open">
                                <a ng-href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{'MENU.SELECTATOUR' | translate | uppercase}}<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" >
                                    <li class="mobile text-center">
                                      <a ng-href="{{urlBegin()}}/{{localizedPage(0)}}" tooltip="{{country.languageLabel() | translate}}">{{'TOURS.CLAUDIAN' | translate | uppercase }}</a>
                                    <hr>
                                    </li>
                                    <li class="mobile text-center">
                                      <a ng-href="{{urlBegin()}}/{{localizedPage(1)}}" tooltip="{{country.languageLabel() | translate}}">{{'TOURS.TRAJANIC' | translate | uppercase }}</a>
                                    <hr>
                                    </li>
                                    <li class="mobile text-center">
                                      <a ng-href="{{urlBegin()}}/{{localizedPage(2)}}" tooltip="{{country.languageLabel() | translate}}">{{'TOURS.SEVERAN' | translate | uppercase }}</a>
                                    <hr>
                                    </li>
                                    <li class="mobile text-center">
                                      <a ng-href="{{urlBegin()}}/{{localizedPage(3)}}" tooltip="{{country.languageLabel() | translate}}">{{'TOURS.FIFTHSEVENTH' | translate | uppercase }}</a>
                                    <hr>
                                    </li>
                                    <li class="mobile text-center">
                                      <a ng-href="{{urlBegin()}}/{{localizedPage(4)}}" tooltip="{{country.languageLabel() | translate}}">{{'TOURS.MODERN' | translate | uppercase }}</a>
                                    <hr>
                                    </li>
                                    <li class="mobile text-center">
                                      <a ng-href="{{urlBegin()}}/{{localizedPage(5)}}" tooltip="{{country.languageLabel() | translate}}">{{'TOURS.TIMELINE' | translate | uppercase }}</a>
                                    <hr>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Footer -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-lg-4 text-left hidden-xs hidden-sm">
                        <!-- <h6> &copy; 2015  All rights Reserved </h6> -->
                        <p>{{'FOOTER.CREATEDBY' | translate}} <a href="http://www.portusproject.org" target="_blank">Portus Project</a> | {{'FOOTER.USING' | translate}} <a href="http://storymap.knightlab.com/" target="_blank">Knightlabs</a></p>
                    </div>
                    <div class="social col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
                        <a href="http://moocs.southampton.ac.uk/portus/" target="_blank"><i class="fa fa-wordpress fa-2x"></i></a>
                        <a href="https://twitter.com/UosFLPortus" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                        <a href="https://www.futurelearn.com/courses/portus" target="_blank"><i class="fa fa-book fa-2x"></i></a>
                        <a href="https://www.flickr.com/photos/portusproject/" target="_blank"><i class="fa fa-flickr fa-2x"></i></a>
                        <a href="https://twitter.com/PortusProject" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                        <a href="http://www.portusproject.org/" target="_blank"><i class="fa fa-wordpress fa-2x"></i></a>
                    </div>
                    <div class="col-md-4 col-lg-4 text-right hidden-xs hidden-sm" ng-controller="regionCtrl">
                        
                        <ol class="list-unstyled list-inline">
                            <li class="mobile" style="margin-right:15px;"><a ng-href="{{urlBegin()}}/about">{{'FOOTER.ABOUT' | translate}}</a></li>
                            <li ng-repeat="country in region.countries()">
                                <a class="lang" ng-href="#!/{{country.language}}/{{remainingUrl(country.language)}}" tooltip="{{country.languageLabel() | translate}}">
                                    <img ng-src="logos/{{country.language}}.png">
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </footer>


    </div>

    <div class="fade" id="mainDiv" ui-view style="width:100%; height: 100%;"></div>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".btn-open").click(function() {
                $(".overlay").fadeToggle(200);
                $(this).toggleClass('fa-bars').toggleClass('fa-times');
                $(this).toggleClass('btn-open').toggleClass('btn-close');
                $("#owlTour").owlCarousel({
                  pagination: false,
                  center: true,
                  loop: false,
                  items: 2,
                  itemsDesktop: [1000, 2], //5 items between 1000px and 901px
                  itemsDesktopSmall: [900, 3], // betweem 900px and 601px
                  itemsTablet: [600, 2], //2 items between 600 and 0
                  itemsMobile: false // itemsMobile disabled - inherit from itemsTablet option
                });
            });
        });

        $(document).ready(function() {
            $(".btn-close , .mobile , .imageLink , .lang , .titleBox").on('click', function() {
                $(".overlay").fadeToggle(100);
                $(".btn-close").toggleClass('fa-times').toggleClass('fa-bars');
                $(".btn-close").toggleClass('btn-open').toggleClass('btn-close');
                open = false;
            });
        });
    </script>

</body>

</html>
